div.main-body {
	display: grid;
	grid-template-columns: minmax(300px , auto)1fr;
	grid-template-areas: "navbar mainContent";
	grid-gap: 20px;   
} 

nav#navbar {
	grid-area: navbar;
	position:fixed;
    
}

nav#navbar a {
	display:block;
	border: 1px solid black;
	padding: 5px;
	margin: 10px 0;
	text-decoration: none;
	color: black;
	
}
nav#navbar a:hover{background-color: coral; padding: 2%; margin: 8px;}
nav#navbar a:active{background-color: green;}
/* nav#navbar a:visited{background-color: green;} */


main#main-doc {
	grid-area: mainContent;
}

header {
	font-size: 1.5rem;
	font-weight: bold;
}



h1{
    font-size: 46px; 
    padding-bottom: 0; 
    margin-bottom: 0;
}

.about_me{
	width: 100%;
}

.about_me th{
	height: 50px;
}

.about_me td{
	text-align: center;
}

.about_me tr:hover {background-color: coral;}

ul li:hover {
    /* color: white; */
	background-color: lightblue;
	/* margin: 2px; */
	padding: 0.6%;
}

ol li:hover {
    /* color: white; */
	background-color: lightblue;
	/* margin: 2px; */
	padding: 0.6%;
}

#Activity_1{
	background-color:cornsilk;
	box-shadow: 5px 10px black;
}

#Activity_2{
	background-color:cornsilk;
	box-shadow: 5px 10px black;
}

#Activity_3{
	background-color:cornsilk;
	box-shadow: 5px 10px black;
}